body {
	background-color : tan;
	background-image  :  url("https://i.pinimg.com/originals/79/27/f9/7927f976b17065d627f94c0e125ac79c.jpg");
	background-size :cover;
}
.headline{
    text-align : center;
    background-color : white;
    color :red;
}
.intoductions{
    color :white;
}
